.marquee {
  display: inline-block;
  animation: marquee 8s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
